@font-face {
	font-family: 'Roboto-Regular';
	src: url('./Roboto-Regular.ttf');
}

body {
	font-family: 'Roboto-Regular';
	color: #f9f9f9;
	font-weight: 500;
    font-size: 14px;
}

paper-input.input {
    width: 100%;
    --primary-text-color: white;
    --paper-input-container-color: #FFFFFFB3;
    --paper-input-container-focus-color: #2196F3;
    --paper-input-container-underline-focus-border-color: #2196F3;

}

paper-textarea.textarea {
    width: 100%;
    --primary-text-color: white;
    --paper-input-container-color: #FFFFFFB3;
    --paper-input-container-focus-color: #2196F3;
    --paper-input-container-underline-focus-border-color: #2196F3;
}

paper-button.button {
    height: 40px;
    letter-spacing: .0892857143em;
    background-color: #272727;
    --paper-button-ink-color: #6A6A6A;
}

paper-button.button:hover {
    background-color: #383838;
}

paper-button.button[disabled] {
    background-color: #485264;
}

paper-button#cancelTweet {
    background-color: #AF0000;
}

paper-button#cancelTweet[disabled] {
    background-color: #485264;
}

paper-dropdown-menu.dropdown {
    width: 100%;
    margin-top: -500px;
    --paper-input-container-color: #FFFFFFB3;
    --paper-input-container-focus-color: #2196F3;
    --paper-input-container-input-color: #FFFFFF;
    --paper-input-container-underline-focus-border-color: #2196F3;
}

paper-listbox.dropdown-content {
    width: 300px;
    height: 300px;
}