#main {
	width: 416px;
	height: 100%;
	margin-top: 10px;
	display: inline-block;
}
.buttonDiv {
	width: 386px;
	display: inline-block;
	text-align: center;
}
.mediaDiv {
	margin-top: 4px;
	width: 100%;
	display: inline-block;
}
#clearMedia {
	margin-left: 10px;
}